{% extends 'administrador/layout-adm.html' %}

{% block body %}
    <main>
        <!--Principal-->
        <section id="principal" class="row">
            {% with messages = get_flashed_messages()  %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div  class="titulos"><h1>Administrar Idiomas</h1></div>
            <div id="formulario">
                <div  class="titulos"><h3>Agregar</h3></div>
                <p><i><b>Instrucciones:</b></i></p>
                <p><i>Los campos marcados con un * son obligatorios.</i></p>
                <p><i>El campo nombre lleva entre 4 y 25 caracteres que pueden ser: letras, punto o dos puntos.</i></p>
                <p><i>El campo descripcion pue almacenar un máximo de 240 caracteres.</i></p>
                <form class="row g-3" id="forma" action="/add_idioma" method="POST">
                    <div class="col-md-12">
                      <label for="nombre-idioma" class="form-label">*Nombre</label>
                      <input type="text" class="form-control" id="nombre-idioma" name="nombre-idioma" required minlength='4' maxlength='25' placeholder="Inglés, Español, Japones, etc." pattern="[a-zA-ZñÑáéíóúÁÉÍÓÚ.\s]+">
                    </div>
                    <div class="col-12">
                        <label for="desc-idiomas" class="form-label">Descripción</label>
                        <textarea class="form-control" id="desc-idioma" name="desc-idioma" rows="3" maxlength ="240" placeholder="Descripción/Historia del idioma."></textarea>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary btn-completo">Agregar</button>
                    </div>
                </form>
            </div>
            <div id="tabla-registros">
                <nav class="navbar navbar-dark bg-primary">
                    <div class="container-fluid">
                        <form class="d-flex" action="/busqueda_idiomas" method="POST">
                            <input class="form-control me-2" type="search" placeholder="Nombre" aria-label="Search" id="busqueda" name="busqueda" minlength="1" maxlength="26">
                            <button class="btn btn-light" type="submit"><i class="bi bi-search"></i></button>
                        </form>
                    </div>
                </nav>
                <table class="table table-striped">
                    <thead>
                        <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col" colspan="2">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for idioma in idiomas %}
                        <tr>
                            <th scope="row">{{ idioma.0 }}</th>
                            <td>{{ idioma.1 }}</td>
                            <td>{{ idioma.2 }}</td>
                            <td><a href="/edit_idioma/{{ idioma.0 }}"><button type="button" class="btn btn-warning"><i class="bi bi-pencil-square"></i></button></td>
                            <td><button type="button" class="btn btn-danger" onclick="eliminaIdioma('{{ idioma.0 }}', '{{ idioma.1 }}');" ><i class="bi bi-trash"></i></button></a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </main>
{% endblock %}