{% extends 'administrador/layout-adm.html' %}

{% block body %}    
    <main>
        <!--Principal-->
        <section id="principal">
            <div  class="titulos"><h1>Módulo de Administrador</h1></div>
            <p>Bienvenido esta área es exclusiva para el administrador, aqui podrá agregar nuevos juegos al catálogo, nuevas categorías o géneros para estos, nombres de consola o desarooladora. Ademas, podra administrar los privilegios de usuario para poder asignar nuevos administradores o dar de baja a algún usuario.</p>
            <br><img src="img/logo.png">
        </section>
    </main>
{% endblock %}