{% extends 'administrador/layout-adm.html' %}

{% block body %}
    <main>
        <!--Principal-->
        <section id="principal" class="row">
            {% with messages = get_flashed_messages()  %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <div  class="titulos"><h1>Administrar Videojuegos</h1></div>
            <div id="formulario">
                <div  class="titulos"><h4>Editar </h4></div>
                {% for juego in juegos %}
                <form class="row g-3" action="/update_juego/{{ juego.0 }}" enctype="multipart/form-data" method="POST">
                    <div class="col-md-6">
                      <label for="nombre-juego" class="form-label">Nombre</label>
                      <input type="text" class="form-control" id="nombre-juego" name="nombre-juego" required value="{{ juego.1 }}">
                    </div>
                    <div class="col-md-6">
                        <label for="consola-juego" class="form-label">Consola</label>
                        <select id="consola-juego" name="consola-juego" required class="form-select">
                          <option selected disabled>Seleccione</option>
                          {% for consola in consolas %}
                            <option value="{{ consola.0 }}" {% if consola.0 == juego.8 %} selected {% endif %}>{{ consola.1 }}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="foto-juego" class="form-label">Fotografía 1</label>
                        <input class="form-control" type="file" id="foto-juego" name="foto-juego">
                    </div>
                    <div class="col-md-6">
                        <label for="fotodos-juego" class="form-label">Fotografía 2</label>
                        <input class="form-control" type="file" id="fotodos-juego" name="fotodos-juego">
                    </div>
                    <div class="col-md-6">
                      <img src="/img/juegos/{{ juego.4 }}">
                    </div>
                    <div class="col-md-6">
                      <img src="/img/juegos/{{ juego.5 }}">
                    </div>
                    <div class="col-md-6">
                        <label for="lanzamiento-juego" class="form-label">Año de Lanzamiento</label>
                        <input type="number" class="form-control" id="lanzamiento-juego" name="lanzamiento-juego" value="{{ juego.6 }}">
                    </div>
                    <div class="col-md-6">
                        <label for="precio-juego" class="form-label">Precio</label>
                        <input type="number" class="form-control" id="precio-juego" name="precio-juego" required value="{{ juego.3 }}">
                    </div>
                    <div class="col-12">
                        <label for="desc-juego" class="form-label">Descripción</label>
                        <textarea class="form-control" id="desc-juego" name="desc-juego" rows="3">{{ juego.2 }}</textarea>
                    </div>
                    <div class="col-md-6">
                        <label for="desa-juego" class="form-label">Desarrolladora</label>
                        <select id="desa-juego" name="desa-juego" required class="form-select">
                          <option selected disabled>Seleccione</option>
                          {% for desarrolladora in desarrolladoras %}
                            <option value="{{ desarrolladora.0 }}" {% if desarrolladora.0 == juego.9 %} selected {% endif %}>{{ desarrolladora.1 }}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="reg-juego" class="form-label">Región</label>
                        <select id="reg-juego" name="reg-juego" required class="form-select">
                          <option selected disabled>Seleccione</option>
                          {% for region in regiones %}
                            <option value="{{ region.0 }}" {% if region.0 == juego.10 %} selected {% endif %}>{{ region.1 }}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="genero-juego" class="form-label">Género</label>
                        <select id="genero-juego" name="genero-juego" required class="form-select">
                          <option selected disabled>Seleccione</option>
                          {% for genero in generos %}
                            <option value="{{ genero.0 }}" {% if genero.0 == juego.11 %} selected {% endif %}>{{ genero.1 }}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="idioma-juego" class="form-label">Idioma</label>
                        <select id="idioma-juego" name="idioma-juego" class="form-select" required>
                          <option selected disabled>Seleccione</option>
                          {% for idioma in idiomas %}
                            <option value="{{ idioma.0 }}" {% if idioma.0 == juego.12 %} selected {% endif %}>{{ idioma.1 }}</option>
                          {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                      <label for="stock-juego" class="form-label">Stock</label>
                      <input type="number" class="form-control" id="stock-juego" name="stock-juego" value="{{ juego.7 }}" required>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary btn-completo">Modificar</button>
                    </div>
                </form>
                {% endfor %}
            </div>
            <div id="tabla-registros">
                <div class="d-grid gap-2"><a href="/administrar_juegos">
                    <button class="btn btn-success btn-completo" type="button"><i class="bi bi-plus"></i> Nuevo</button>
                  </a></div>
            </div>
        </section>
    </main>
{% endblock %}
