<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{{url_for('static', filename='css/favicon.ico')}}">
    <!-- Mi CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/misestilos.css')}}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <!--Título-->
    <title>Classic-Gaming</title>
</head>
<body id="cuerpo">
    <!--Barra principal-->
    <nav class="navbar-expand-lg navbar navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/administrador">
                <img src="/img/logo.png" alt="" width="30" height="30">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/administrar_juegos"><i class="bi bi-controller"></i> Videojuegos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/administra_usuarios">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/administrar_generos">Géneros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/administrar_consolas">Consolas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/administrar_desarrolladoras">Desarrolladoras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/administrar_idiomas">Idiomas</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-person-circle"></i> {{ session['correo'] }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/perfil"><i class="bi bi-gear"></i> Configuración</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/salir"><i class="bi bi-box-arrow-right"></i> Salir</a></li>
                    </ul>
                </li>
            </ul>
            </div>
        </div>
    </nav>
    <!-- Cabecera -->
    <header id="cabeceralogo" style="background-image: url('/img/fondo.jpg');">
        <div>
            <h1>Módulo Administrador<br><i class="bi bi-people-fill"></i></h1>
            <h3><i>"Bienvenido Administrador"</i></h3>
        </div>
    </header>
    <!--Cuerpo del documento-->

    {% block body %}
    {% endblock %}
    
    <!--Píe-->
    <footer id="pielogo">
        <div>
            <section class="seccionpie">
                <h1>Ayuda</h1>
            </section>
            <section class="seccionpie">
                <h1>Redes Sociales</h1>
                <p><a href="https://es-la.facebook.com/"><i class="bi bi-facebook"></i></a></p>
            </section>
            <section class="seccionpie">
                <small>&copy; 2021
                    Classic-Gaming.</small>
            </section>
            <div class="recuperar"></div>
        </div>
    </footer>
    <!--JS-->
    <script src="{{url_for('static', filename='js/admin.js')}}"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>