{% extends 'usuarios/layout-usr.html' %}

{% block body %} 
    <main>
            {% with messages = get_flashed_messages()  %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        <!-- Navegación -->
        <div  class="titulos"><h1>Resultados</h1></div>
        <!--Principal-->
        <section id="principal" class="row">
            <div id="catalogo" class="row">
                {% if info %}
                    {% for i in info %}
                        <h3>{{ i.1 }}</h3>
                        <p>{{ i.2 }}</p>
                    {% endfor %}
                {% endif %}
                {% for juego in juegos %}
                    <div class="card" style="width: 45%;">
                        <img src="/img/juegos/{{ juego.2 }}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ juego.1 }}</h5>
                            <p class="card-text">Lanzamiento: {{ juego.4 }}
                            <br>Consola: {{ juego.6 }}
                            <br>Desarrolladora: {{ juego.8 }}
                            <br>Idioma: {{ juego.7 }}
                            <br>{{ juego.3 }}
                            <br><b>Precio: ${{ juego.5 }}</b></p>
                            <a href="/detalles_juego/{{ juego.0 }}" class="btn btn-info btn-completo">Detalles</a>
                            <br><button type="button" class="btn btn-primary btn-completo"><i class="bi bi-cart-plus"></i> Agregar a Carrito</button>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <aside id="lateral">
                <nav class="navbar navbar-dark bg-primary">
                    <div class="container-fluid">
                        <form class="d-flex" action="/resultados" method="POST">
                            <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search" id="busqueda" name="busqueda" minlength="1" maxlength="26">
                            <button class="btn btn-light" type="submit"><i class="bi bi-search"></i></button>
                        </form>
                    </div>
                </nav>
                <div>
                    <img src="/img/anuncio.jpg">
                    <p>Las opciones de compra, carrito y contacto se encuentran en construcción por lo que no estan activas.</p>
                </div>
                <div>
                    <h4>Consolas</h4><br>
                    {% for consola in consolas %}
                        <a href="/resultados/consolas/{{ consola.0 }}"><button type="button" class="btn btn-secondary btn-lat">{{ consola.1 }}</button></a>
                    {% endfor %}
                </div>
                <div>
                    <h4>Géneros</h4><br>
                    {% for genero in generos %}
                        <a href="/resultados/generos/{{ genero.0 }}"><button type="button" class="btn btn-secondary btn-lat">{{ genero.1 }}</button></a>
                    {% endfor %}
                </div>
                <div>
                    <h4>Idiomas</h4><br>
                    {% for idioma in idiomas %}
                        <a href="/resultados/idiomas/{{ idioma.0 }}"><button type="button" class="btn btn-secondary btn-lat">{{ idioma.1 }}</button></a>
                    {% endfor %}
                </div>
                <div>
                    <h4>Desarrolladoras</h4><br>
                    {% for desarrolladora in desarrolladoras %}
                        <a href="/resultados/desarrolladoras/{{ desarrolladora.0 }}"><button type="button" class="btn btn-secondary btn-lat">{{ desarrolladora.1 }}</button></a>
                    {% endfor %}
                </div>
            </aside>
        </section>
        <!--Conocenos-->
        <section id="nosotros">
            <div  class="titulos"><h1>Nosotros</h1></div>
            <img src="/img/logo.png" alt="">
            <div><p>En Classic Gaming nos dedicamos a conseguir y vender videojuegos clásicos, para de esta forma poder traer de regreso para tí, aquellos juegos con los te divertias en tu infancia.</p>
            <p>Nos encargamos de vender aquellos juegos que ya no puedes conseguir en tiendas actuales, desde la prímera Game Boy hasta la considerada por muchos mejor consola la PS2. En nuestro catálogo encontras juegos usados pero en buen estado e incluso juegos que nunca han sido abiertos y que por ende cuentan con un valor preciado para coleccionistas.</p>
            <p>No te desanimes si no encuentras alguno en particular, puedes preguntar y haremos lo posible por conseguirlo.</p></div>
            
            <div class="d-grid gap-2 col-6 mx-auto">
                <a href="/contacto"><button class="btn btn-primary btn-completo" type="button">Contacto / Solicitud</button></a>
            </div>
        </section>
    </main>
{% endblock %}